langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.63
langchain-modelscope-integration==0.1.0
langchain-openai==0.2.14
langchain-text-splitters==0.3.8
langsmith==0.3.44
modelscope==1.26.0
numpy==2.2.6
addict==2.4.0
transformers==4.52.4
torch==2.7.0
oss2==2.19.1
datasets==2.18.0